.container {
    display: flex;
    justify-content: center; /* Center items horizontally */
    align-items: center; /* Center items vertically */
    height: 100vh; /* Full viewport height */
}

.item {
    background-color: #97aeee;
    padding: 20px;
    margin: 10px;
    border: 1px solid #ccc;

}

img {
    max-width: 300px;
    max-height: 300px;
    width: 300px;
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 10px;
    padding: 10px;
}

.grid-item {
    background-color: #216b9c;
    padding: 20px;
    border: 1px solid #ccc;
    text-align: center;
}